* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
:root {
  --white: white;
  --black: black;
  --Underwater-Falling: #0c21c1;
  --Stratos: #000842;
  --Brainstem-Grey: #b5b5b5;
  --Thunder: #4d4d4d;
  --Million-Grey: #999999;
}